.header {
	width: 100vw;
	position: fixed;
	background-color: #2b355f;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-inline: 15%;
	min-height: 90px;
	z-index: 100000;
}

.header__logo {
	width: 350px;
	overflow: hidden;
	img {
		width: 100%;
	}
}

.header__nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.header__nav-item {
	position: relative;
}

.header__nav-item a {
	font-size: 20px;
	color: #ffffff;
	margin-inline: 1rem;
	text-decoration: none;
}

/* Dropdown Menu */
.dropdown {
	position: relative;
}

.dropdown__menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 2rem;
	border-radius: 5px;
	padding: 0.5rem 0;
	min-width: 300px;
	z-index: 1000;

	background-color: #2b355f;
}

.dropdown__menu li {
	color: #ffffff;
}

.dropdown__menu li a {
	display: block;
	color: #ffffff;

	padding: 0.2rem 0rem;
	text-decoration: none;
}

.dropdown__menu li a:hover {
	background-color: #2b355f;
	color: #ffffff;
	font-weight: 700;

	color: #27ade0;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown__menu {
	display: block;
}

.header__actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.header__actions a {
	font-size: 20px;
	color: #ffffff;
	margin-inline: 1rem;
}

.header__actions button {
	padding: 0.2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
}

/* Hamburger Button */
.hamburger {
	display: none;
	flex-direction: column;
	width: 24px;
	height: 24px;
	gap: 4px;
	cursor: pointer;
	background: transparent;
	border: none;
}

.hamburger span {
	display: block;
	width: 100%;
	height: 3px;
	background-color: #ffffff;
	border-radius: 2px;
	transition: 0.3s ease;
}

/* Rotate hamburger icon on active state */
.hamburger.active span:nth-child(1) {
	transform: rotate(45deg) translate(4px, 4px);
}

.hamburger.active span:nth-child(2) {
	opacity: 0;
}

.hamburger.active span:nth-child(3) {
	transform: rotate(-45deg) translate(4px, -4px);
}

/* Hide navigation on small screens by default */
.header__nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	transition: transform 0.3s ease;
}

.header__nav.open {
	display: flex;
	transform: translateX(0);
}

/* Media Query for Small Screens */
@media (max-width: 1240px) {
	.header {
		padding-inline: 5%;

		&__logo {
			width: 150px;
		}

		&__nav {
			&-item {
				a {
					font-size: 16px;
				}
			}
		}

		&__actions {
			a, button {
				font-size: 16px;
			}

		}
	}
}

@media (max-width: 1000px) {
	.header {
		flex-direction: column;
		padding-inline: 5%;
	}

	.header__logo {
		width: 200px;
	}

	/* Show hamburger on small screens */
	.hamburger {
		display: flex;
	}

	.header__nav {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		position: fixed;
		top: 90px;
		left: 0;
		transform: translateX(-100%);
		background-color: #2b355f;
		z-index: 999;
	}

	/* Show menu when open */
	.header__nav.open {
		transform: translateX(0);
	}

	.header__nav-item a {
		font-size: 18px;
		margin: 0.5rem 0;
	}

	.header__actions {
		margin-top: 10px;
		flex-direction: column;
	}
}

/* Hamburger Button */
.hamburger {
	display: none;
	flex-direction: column;
	width: 24px;
	height: 24px;
	gap: 4px;
	cursor: pointer;
	background: transparent;
	border: none;

	border-radius: 4px;
}

.hamburger span {
	display: block;
	width: 100%;
	height: 3px;
	background-color: #ffffff;
	border-radius: 2px;
	transition: 0.3s ease;
}

/* Rotate hamburger icon on active state */
.hamburger.active span:nth-child(1) {
	transform: rotate(45deg) translate(8px, 7px);
}

.hamburger.active span:nth-child(2) {
	opacity: 0;
}

.hamburger.active span:nth-child(3) {
	transform: rotate(-45deg) translate(3px, -2px);
}

/* Hide navigation on small screens by default */
.header__nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	transition: transform 0.3s ease;
}

.header__nav.open {
	display: flex;
	transform: translateX(0);
}

.contactMobile {
	display: none;
}

/* Media Query for Small Screens */
@media (max-width: 1000px) {
	.header {
		flex-direction: row;
		padding-inline: 5%;
	}

	.header__logo {
		width: 150px;
	}

	/* Show hamburger on small screens */
	.hamburger {
		display: flex;
	}

	.header__nav {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		position: fixed;
		top: 90px;
		left: 0;
		transform: translateX(-100%);
		background-color: #2b355f;
		z-index: 999;

		&-item {
			margin: 0.5rem;

			a {
				&:hover {
					color: #27ade0;
				}
			}
		}
	}

	/* Show menu when open */
	.header__nav.open {
		transform: translateX(0);
	}

	.header__nav-item a {
		font-size: 18px;
		margin: 0.5rem;
	}

	.header__actions {
		display: none;
	}

	.contactMobile {
		display: block;
	}
}
