.innovationhr {
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 25vh;

	&__top {
		margin-top: 6rem;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		height: 500px;

		&-text {
			width: 50%;
			color: #ffffff;
			text-align: center;

			background-color: #252e53;

			height: 100%;

			p {
				width: 70%;
				font-size: 20px;
				margin: auto;
				padding: 1rem;
				padding-block: 2.5rem;
				line-height: 1.5;
			}

			&-title {
				background-color: #343f70;
				padding: 1.5rem;

				h3 {
					font-size: 24px;
				}
			}
		}

		&-image {
			width: 50%;
			overflow: hidden;
			height: 100%;

			img {
				width: 100%;
			}
		}
	}

	&__bottom {
		margin-top: 3rem;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		width: 100%;
		&-card {
			background: linear-gradient(-130deg, #6b75a2, #0b1238);

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			padding: 1rem;

			width: 350px;
			height: 200px;

			border-radius: 1rem;

			color: #ffffff;
			text-align: center;

			h3 {
				margin-bottom: 1rem;
				font-size: 20px;
			}

			p {
				line-height: 1.3;
				width: 90%;
			}
		}
	}
}
